html{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body{
    height: 100vh;
    background-color: white;
}

main h1{
    font-size: 150vw;
}

header{
    color: white;
    width: 100%;
    height: 15vh;
    background-color: black;
    visibility: visible;
    vertical-align: middle;
}

h1{
    display: block;
}

.meio{
    width: 20%;
}
.super{
    width: 100%;
    height: 3vw;
    display: table;
    font-size: 26px;
    background-color: black;
    border-bottom: 2px solid white;
}

.super nav{
    display: table;
    height: 100vw
    width: 100%;
}

#sup-left{
    float: left;
    width: 100px;
    list-style: none;
}

#sup-right{
    float: right;
    width: 50%;
    margin-left: 5px;
    margin-right: 2px;
    list-style: none;
    text-align: right;
    font-size: 100%;
}

#menu-princ{
    width: 100%;
    padding-top: 2px;
    padding-bottom: 8px;
}

#cont{
    width: 80%;
}

#meio_content{
    display: table;
    width: 100%;
    height: 80vh;
    background-color: white;
}

#content{
    float: right;
    width: 73%;
    height: 80vh;
    padding-left: 2%;
    background-color: white;
    border-left: 2px solid black;
}

#options{
    padding-left: 3%;
    float: left;
    width: 20%;
    min-width: 15%;
    height: 80vh;
    background-color: white;
}

footer{
    width: 100%;
    height: 5vh;
    background-color: black;
}
